@model PolySondage.Services.Models.DashBoardViewModels

@{
    ViewData["Title"] = "DashBoard";
}

<h1>DashBord</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
    @foreach(var item in Model.created) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberVote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activated)
            </td>
        </tr>
}
    </tbody>
</table>
<table class="table">
    <tbody>
        @foreach (var item in Model.participated)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberVote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activated)
                </td>
            </tr>
        }
    </tbody>
</table>
